{% block eliminarSolicitud %}
<div id="confirmacion-dialogo" style="display:none; cursor: default"> 
    <h3>¿Estas seguro de eliminar la solicitud seleccionada?</h3> 
    <input class="btn btn-warning" type="button" id="si" value="Si" /> 
    <input class="btn btn-secondary" type="button" id="no" value="No" /> 
</div> 
{% endblock %}