{% block botones %}
<div class="col-lg-6 col-md-6" align="center">
        <div class="btn-group" role="group">
            <button class="btn btn-success" 
                    id="boton-listado-ventas"
                    type="button">Ver VENTAS</button>
            <button class="btn btn-default" 
                    type="button" 
                    id="boton-exportar-ventas-pdf"
                    >PDF</button>
            <button class="btn btn-default" 
                    type="button" 
                    id="boton-exportar-ventas-xls"
                    >XLS
            </button>
        </div>
</div>
{% endblock %}
