{% block botonesResumen %}
<div class="row">
<p></p>
    <div class="col-lg-12 col-md-12" align="center">
        <div class="btn-group" role="group">
            <button class="btn btn-success" 
                    id="boton-listado-ventas"
                    type="button">Ver VENTAS</button>
            <button class="btn btn-default" 
                    type="button" 
                    id="boton-exportar-ventas-pdf"
                    >PDF</button>
            <button class="btn btn-default" 
                    type="button" 
                    id="boton-exportar-ventas-xls"
                    >XLS
            </button>
        </div>  
    </div>
</div>
{% endblock %}
