{% block cargar_saldo %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <p></p>
        <div class="alert alert-warning" role="alert" align="center">
            <h4><b>Carga de saldo</b></h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <p><b>Apellido</b></p>
    </div>
    <div class="col-lg-6 col-md-6">
        <input class="form-control"
               type="text"
               align="center"
               id ="apellido"
               />
    </div>
</div>    
<div class="row">
    <div class="col-lg-6 col-md-6">
        <p><b>Nombre</b></p>
    </div>
    <div class="col-lg-6 col-md-6">
        <input class="form-control"
               type="text"
               align="center"
               id ="nombre"
               />
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <p><b>Saldo</b></p>
    </div>
    <div class="col-lg-6 col-md-6">
        <input class="form-control"
               type="text"
               align="center"
               id ="Saldo"
               />
</div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <p><b>Monto para acreditar</b></p>
    </div>
    <div class="col-lg-6 col-md-6">
        <input class="form-control"
               type="text"
               align="center"
               id ="monto"
               />
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <p><b>Saldo actualizado</b></p>
    </div>
    <div class="col-lg-6 col-md-6">
        <input class="form-control"
               type="text"
               align="center"
               id ="saldo-actualizado"
               />
    </div>
</div>
{% endblock%}    
   