{% block botonesIdentificacion %}
<div class="row">
    <p></p>
    <div class="col-lg-12 col-md-12" align="center">
        <div class="btn-group" role="group">
            <button class="btn btn-success" 
                    id="boton-leer-tarjeta"
                    type="button">
                    LEER
            </button>
            {# SERVIRA DE ALGO ESTO           #}
            {#<button class="btn btn-default" 
                    type="button" 
                    id="boton-acreditar-saldo"
                    >
                    CANCELAR
            </button>#}
        </div>  
    </div>
</div>
{% endblock %}
