{% block buscar %}
<div class="row">
    <p> </p>
    <div class="col-lg-12 col-md-12">
        <p><b>Busqueda manual <i>(Acreditación sin tarjeta)</i></b></p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <input class="form-control"
               type="text"
               align="center"
               id ="buscar-dni"
               placeholder="Ingrese el DNI"
               />
    </div>
    <div class="col-lg-6 col-md-6">
        <button class="btn btn-default" 
                    type="button" 
                    id="boton-buscar-dni"
                    >
                    BUSCAR
            </button>
    </div>
</div>
{% endblock %}