{% block datosComensal %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <p></p>
        <div class="alert alert-warning" role="alert" align="center">
            <h4><b>Datos del comensal</b></h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <p></p>
        {% block notificaciones %}
            {{ include('Panel ingreso comedor/notificaciones.html.twig') }}
        {% endblock %}
    </div>
</div>
<div class="row" align="center">
    <div class="col-lg-12 col-md-12">
       <img id="foto-perfil" 
            class="img-thumbnail" 
            {# to-do ver porque no se puede mostrar la imagen de perfil_defecto.png #}
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQzoL7LYphmQJUakxuGQMoTicLEMGTdb9fhBXoabCzfW44aNaZEA"
            alt="PREVISUALIZACIÓN...ESPERE...UN MOMENTO..."
            height="210" width="210"> 
       <p></p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <p><b>Apellido , Nombre</b></p>
    </div>
    <div class="col-lg-6 col-md-6">
        <input class="form-control"
               type="text"
               align="center"
               id ="apellido-nombre"
               readonly
               />
    </div>
</div>    
{#<div class="row">
    <div class="col-lg-6 col-md-6">
        <p><b>Nombre</b></p>
    </div>
    <div class="col-lg-6 col-md-6">
        <input class="form-control"
               type="text"
               align="center"
               id ="nombre"
               readonly
               />
    </div>
</div>#}
<div class="row">
    <div class="col-lg-6 col-md-6">
        <p><b>Nro tarjeta</b></p>
    </div>
    <div class="col-lg-6 col-md-6">
        <input class="form-control"
               type="text"
               align="center"
               value=""
               id ="tarjeta-id"
               readonly
               />
    </div>
</div>
{#<div class="row">
    <div class="col-lg-6 col-md-6">
        <p><b>Saldo</b></p>
    </div>
    <div class="col-lg-6 col-md-6">
        <input class="form-control"
               type="text"
               align="center"
               value="0.00"
               id ="saldo"
               readonly
               />
    </div>
</div>#}
<div class="row">
    <div class="col-lg-6 col-md-6">
        <p><b>Saldo actualizado</b></p>
    </div>
    <div class="col-lg-6 col-md-6">
        <input class="form-control"
               type="text"
               align="center"
               id ="saldo-actualizado"
               placeholder="Nuevo saldo"
               readonly
               />
    </div>
</div>
{% endblock%}    
   