<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    
    {% block librerias %}
        {{ include('librerias.html.twig') }}
    {% endblock %}
    
    {% block javascript %}
        {{ include('jsGeneral.html.twig') }}
    {% endblock %}
</head>
<body>
    
    {% block body %}
        {# block comentario #}
    {% endblock %}    
    
</body>
</html>