{% block filtros %}
 <div class="row" >
    <div class="col-lg-11 col-md-11">
            <div class="col-lg-1 col-md-1">
                FILTRAR
                <!--<p>FILTRAR:</p>-->
            </div>
            <div class="col-lg-3 col-md-3">
                <select class="form-control"
                            required
                            id="tipo-filtro">
                    <option disabled selected hidden>Opción</option>
                    <option>Saldo negativo</option>
                    <option>Saldo positivo</option>
                    <option>No entregadas</option>
                    <option>Activas</option>
                    <option>Canceladas</option>
                </select>
            </div>
            <div class="col-lg-5 col-md-5">
                <select class="form-control"
                            required
                            id="organismo">
                    <option value="sede" disabled selected hidden>Facultad y/o Secretaría</option>
                {% for organismo in organismos %}
                    <option>{{organismo.nombreFacultad}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col-lg-1 col-md-1">
                <button 
                    class="btn btn-default"
                    type="button"
                    id="boton-filtrar-tarjetas"
                    >MOSTRAR 
                </button>
            </div>
    </div>
</div>
{% endblock %}