{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        {# urgente hacer un template con la barra e incluirlo #}
        <div class="col-lg-2 col-md-2">
            <ul class="nav nav-pills nav-stacked"  >
                <li><a href="/solicitudes">SOLICITUDES</a></li>
                <li><a href="/turnos/panel">TURNOS </a></li>
                <li class="active"><a href="#">TARJETAS </a></li>
                <li><a href="#">MENUS CONSUMIDOS</a></li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <div class="col lg-9 col-md-9">
                            <p> </p>
                        </div>
                    </div>
            <div class="row" id="tablaEstilo">
                <div class="col-lg-12 col-md-12">
                    {% block filtros %}
                        {{ include('Panel tarjetas/filtros.html.twig') }}
                    {% endblock %}
                    <div class="row">
                        <div class="col-md-12">
                            <p> </p>
                        </div>
                    </div>
                    {% block botones %}
                        {{ include('Panel tarjetas/botones.html.twig') }}
                    {% endblock %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <p> </p>
                        </div>
                    </div>
                    {% block tabla %}
                        {{ include('Panel tarjetas/tabla.html.twig') }}
                    {% endblock %}
                    <div class="row">
                        <div class="col lg-12 col-md-12">
                            <p> </p>
                        </div>
                    </div>
                    <p> </p>
                    {% block busqueda %}
                        {{ include('Panel tarjetas/busqueda.html.twig') }}
                    {% endblock %}
                </div>
              </div>
            </div>
{# refencia:   
{% include 'Panel turnos/modal/modal-agregar-turno.html.twig' %}
#}    
    {% include 'Panel tarjetas/modal/modal-resumen-tarjetas.html.twig' %}
    {% include 'Panel tarjetas/modal/modal-historial-tarjetas.html.twig' %}
    {% block javascripts %}
        <script>
            {% include 'scripts/panel tarjetas/tarjetas_filtrar.twig.js' %}
            {% include 'scripts/panel tarjetas/tarjetas_resumen.twig.js' %}
            {% include 'scripts/panel tarjetas/tarjetas_buscar.twig.js' %}
            {% include 'scripts/panel tarjetas/tarjetas_exportar.twig.js' %}
        </script>
    {% endblock %}    
{% endblock%}