{% block filtros %}
    <div class="row" >
        <div class="col-lg-11 col-md-11">
                <div class="col-lg-1 col-md-1">
                    FILTRAR
                    <!--<p>FILTRAR:</p>-->
                </div>
                <div class="col-lg-3 col-md-3">
                    <select class="form-control"
                                required
                                id="sede-turno">
                        <option value="sede" disabled selected hidden>Sede</option>
                    {% for sede in sedes %}
                        <option>{{sede.nombreSede}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col-lg-3 col-md-3">
                    <input class="form-control"
                                   type="text"
                                   align="center"
                                   name="fecha-dia-mes-anio"
                                   id ="calendario"
                                   required=""
                                   placeholder="Seleccione la fecha"
                                   />
                </div>
                <div class="col-lg-1 col-md-1">
                    <button 
                        class="btn btn-default"
                        type="button"
                        id="boton-filtrar-turnos"
                        >MOSTRAR 
                    </button>
                </div>
        </div>
    </div>
{% endblock %}