{% extends 'base.html.twig' %}
{% block body %}
<div id="modal-cancelar-tarjeta">
<div id="noScrollHorizontal">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <p>Sera dada de baja la tarjeta seleccionada, presione Confirmar para finalizar</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <p>Importante: El saldo existente se mantendrá pero no podra seguir utilizandola.</p>
        </div>
    </div>
    <div class="row">
        <input class="form-control"
                      type="hidden"
                      disabled
                      id ="id-tarjeta"
                      />
    </div>
</div>
</div>    
{% endblock%}