{% extends 'base.html.twig' %}
{% block body %}
<div id="modal-cancelar-tarjeta">
<div id="noScrollHorizontal">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <p id="texto-mostrar-datos"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <p>Importante: El saldo existente se mantendrá pero no podra seguir utilizandola.</p>
        </div>
    </div>
</div>
</div>    
{% endblock%}