{% extends 'base.html.twig' %}
{% block body %}
<div id="modal-resumen-tarjeta">
<div id="noScrollHorizontal">
    <div class="row">
        <div class="col-lg-12 col-md-12">
{#            Revisar si es posible pasar el obj a la modal, puede ser causa de errores #}
            <select class="form-control"
                        required
                        id="select-organismo">
                <option value="sede" disabled selected hidden>Facultad y/o Secretaría</option>
            {% for organismo in organismos %}
                <option>{{organismo.nombreFacultad}}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <p><b>Cantidad de Tarjetas</b></p>
        </div>
        <div class="col-lg-4 col-md-4">
            <input id="input-cantidad-tarjeta"
                   class="form-control"
                   readonly
            />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <p><b>Saldo (+)</b></p>
        </div>
        <div class="col-lg-4 col-md-4">
            <input id="input-saldo-positivo-tarjeta"
                   class="form-control" 
                   readonly
            />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <p><b>Saldo (-)</b></p>
        </div>
        <div class="col-lg-4 col-md-4">
            <input id="input-cantidad-tarjeta"
                   class="form-control"
                   readonly
            />
        </div>
    </div>
</div>
</div>    
{% endblock%}