/* 
    Created on : 15/11/2018, 15:35:39
    Author     : Cristian B
*/

#tablaEstilo
{
    height: 450px;
}
#noScrollHorizontal
{
    overflow-x: hidden;
}

#foto 
{
    width: 300px;
    border: 1px solid #000;
}
