{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        {# urgente hacer un template con la barra e incluirlo #}
        <div class="col-lg-2 col-md-2">
            <ul class="nav nav-pills nav-stacked"  >
                <li><a href="/solicitudes">SOLICITUDES</a></li>
                <li><a href="/turnos/panel">TURNOS </a></li>
                <li><a href="/menus consumidos/panel">TARJETAS </a></li>
                <li class="active"><a href="#">MENUS CONSUMIDOS</a></li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <div class="col lg-9 col-md-9">
                            <p> </p>
                        </div>
                    </div>
            <div class="row" id="tablaEstilo">
                <div class="col-lg-12 col-md-12">
                    {% block filtros %}
                        {{ include('Panel menus consumidos/filtros.html.twig') }}
                    {% endblock %}
                    <div class="row">
                        <div class="col-md-12">
                            <p> </p>
                        </div>
                    </div>
                    {% block titulosTabla %}
                        {{ include('Panel menus consumidos/titulosTabla.html.twig') }}
                    {% endblock %} 
                    {% block tabla %}
                        {{ include('Panel menus consumidos/tabla.html.twig') }}
                    {% endblock %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <p> </p>
                        </div>
                    </div>
                    {% block botones %}
                        {{ include('Panel menus consumidos/botones.html.twig') }}
                    {% endblock %}
                </div>
              </div>
            </div>
    {% include 'Panel menus consumidos/modal/modal-listado.html.twig' %}
    {% block javascripts %}
        <script>
            {% include 'scripts/panel menus consumidos/menus_filtrar.twig.js' %}
            {% include 'scripts/panel menus consumidos/menus_exportar.twig.js' %}
            {% include 'scripts/panel menus consumidos/menus_listar_consumos.twig.js' %}
        </script>
    {% endblock %}    
{% endblock%}