{% block tabla %}
<div class="row" id="tablaEstilo">
    <div class="col-lg-6 col-md-6">
            <table id="tablaRecargas"
                class="table table-hover table-striped">
                <thead align="center">
                    <tr>
                        <th>Tipo</th>
                        <th>Cantidad</th>
                        <th>Importe</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody  id="tabla-recargas" align="left">
                </tbody>
            </table>
    </div>
    <div class="col-lg-6 col-md-6">
            <table id="tablaConsumos"
                class="table table-hover table-striped">
                <thead align="center">
                    <tr>
                        <th>Tipo</th>
                        <th>Cantidad</th>
                        <th>Importe</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody  id="tabla-consumos" align="left">
                </tbody>
            </table>
    </div>
</div>
{% endblock %}