{% block tabla %}
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="alert alert-success" role="alert" align="center">
            <h4><b>Recargas realizadas</b></h4>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="alert alert-warning" role="alert" align="center">
            <h4><b>Tickets consumidos</b></h4>
        </div>
    </div>
</div>
{% endblock %}