{% extends 'base.html.twig' %}
{% block body %}
<div id="modal-modificar-un-cupo">
<div id="noScrollHorizontal">
    <div class="row">
        <div class="col-lg-7 col-md-7">
            <select class="form-control"
                            required
                            id="modificar-cupo-opcion">
                <option>Incrementar</option>
                <option>Decrementar</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <p>Horario</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <input class="form-control"
                           type="text"
                           id ="modificar-cupo-horario"
                           disabled
            />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <p>Cupo actual</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <input class="form-control"
                           type="text"
                           id ="modificar-cupo-actual"
                           disabled
            />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <p>Cantidad</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <input class="form-control"
                           type="text"
                           value="0"
                           autocomplete="off"
                           id ="modificar-cupo-ingresado"
            />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <p>Cupo actualizado</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <input class="form-control"
                           type="text"
                           id ="modificar-cupo-actualizado"
                           disabled
            />
        </div>
    </div>
    
</div>
</div>    
{% endblock%}