{% extends 'base.html.twig' %}
{% block body %}
<div id="modal-solicitante-turno">
<div id="noScrollHorizontal">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <p>DNI</p>
        </div>
        <div class="col-lg-6 col-md-6">
            <input class="form-control"
                      type="text"
                      disabled
                      id ="dni-solicitante"
                      />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <p>Nombre y Apellido</p>
        </div>
        <div class="col-lg-6 col-md-6">
            <input class="form-control"
                      type="text"
                      disabled
                      id ="nombre-apellido-solicitante"
                      />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
                <p>Tipo de comensal</p>
        </div>
        <div class="col-lg-6 col-md-6">
            <input class="form-control"
                      type="text"
                      disabled
                      id ="tipo-comensal-solicitante"
                      />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
                <p>Sede</p>
        </div>
        <div class="col-lg-6 col-md-6">
            <input class="form-control"
                      type="text"
                      disabled
                      id ="sede-solicitante"
                      />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
                <p>Fecha</p>
        </div>
        <div class="col-lg-6 col-md-6">
            <input class="form-control"
                      type="text"
                      disabled
                      id ="fecha-solicitante"
                      />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
                <p>Horario</p>
        </div>
        <div class="col-lg-6 col-md-6">
            <input class="form-control"
                      type="text"
                      disabled
                      id ="hora-solicitante"
                      />
        </div>
    </div>
    <div id="cambioTurno">
        <hr>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <p><b>Seleccione el nuevo turno:</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <select class="form-control"
                                required
                                id="sede-turno">
                        <option value="sede" disabled selected hidden>Sede</option>
                        <option>Predio</option>
                        <option>Fcjs</option>
                        <option>Esperanza</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <input class="form-control"
                                   type="text"
                                   align="center"
                                   name="fecha-dia-mes-anio"
                                   id ="calendario"
                                   required=""
                                   placeholder="Seleccione la fecha"
                                   />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <select class="form-control"
                                required
                                id="horario-turno">
                        <option value="horario" disabled selected hidden>Horario</option>
                    </select>
                </div>
            </div>
    </div>
</div>
</div>    
{% endblock%}