{% extends 'base.html.twig' %}
{% block body %}
<div id="modal-eliminar-solicitante-horario">
<div id="noScrollHorizontal">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <p>Se eliminara el turno del solicitante seleccionado, confirme para finalizar</p>
        </div>
    </div>
</div>
</div>    
{% endblock%}