{# empty Twig template #}
{% extends 'base.html.twig' %}
{% block body %}
<div id="modal-agregar-turno">
<div id="noScrollHorizontal">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <select class="form-control"
                            required
                            id="modificar-cupo-opcion">
                <option disabled selected hidden>Incrementar o Decrementar</option>
                <option>Incrementar</option>
                <option>Decrementar</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <p>Cupo actual</p>
        </div>
        <div class="col-lg-3 col-md-3">
            <input class="form-control"
                           type="text"
                           id ="modificar-cupo-actual"
                           disabled
            />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <p id="texto-cupo"></p>
        </div>
        <div class="col-lg-3 col-md-3">
            <input class="form-control"
                           type="text"
                           id ="modificar-cupo-ingresado"
            />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <p>Cupo actualizado</p>
        </div>
        <div class="col-lg-3 col-md-3">
            <input class="form-control"
                           type="text"
                           id ="modificar-cupo-actualizado"
                           disabled
            />
        </div>
    </div>
</div>
</div>    
{% endblock%}